<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!--This Meta tag is used to set the width of the webpage according to the width of the device.So initial scale in 1-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <nav class="nav navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Online Banking</a>
      </div>

      <ul class="nav navbar-nav">
        <li class="active"><a>Home</a></li>
        <li><a>Blogs</a></li>
        <li><a>Contact Us</a></li>
        <li><a>Updates</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>


    </div>
  </nav>

  <!--Now We are Going to use the Courausal-->
  


</body>

</html>
